h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    color: rgb(40, 13, 164);
    line-height: 10px;
}

p, ul, ol, span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(40, 13, 164);
    line-height: 30px;
}

.short-description b {
    color: rgb(143, 143, 7);
}

.short-description > span {
    color: rgb(143, 143, 7);
}

.short-description::first-letter {
    font-size: 1.5em;
}

ol > li span {
    margin-right: 8px;
}

ol > li a {
    color: red;
    text-decoration: none;
}

ol > li a:hover {
    color: rgb(240, 134, 134);
    text-decoration: underline;
}

ul > li em {
    background-color: rgb(193, 215, 234);
}

ol > li > dl > dt {
    color: gold;
    font-size: 11pt;
}

ol > li > dl > dd {
    font-size: 10pt;
}

